<div class="sub-footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sub-footer-inner">
                    <ul>
                        <li class="jonathan">
                            <a href="https://jonathan.pt">
                                made by Jonathan Fontes with ❤️
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>